@model Mecanica.Models.Dtos.ClienteDto

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro de um novo cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pessoa.TipoPessoa" class="control-label">Tipo Pessoa</label>
                <p>@Html.RadioButtonFor(model => model.Pessoa.TipoPessoa, "0", false) @Html.Label("Pessoa Jurídica")</p>
                <p>@Html.RadioButtonFor(model => model.Pessoa.TipoPessoa, "1", false) @Html.Label("Pessoa Física")</p>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" role="button" asp-action="List">Voltar</a>
                <input type="submit" value="Próximo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

