@model Mecanica.Models.Dtos.ClienteDto

@{
    ViewData["Title"] = "CreatePJ";
}

<h1>Cadastro de Cliente Pessoa Jurídica</h1>

<h4>Pessoa Jurídica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePJ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PessoaJuridica.NomeFantasia" class="control-label">Nome Fantasia</label>
                <input asp-for="PessoaJuridica.NomeFantasia" class="form-control" />
                <span asp-validation-for="PessoaJuridica.NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaJuridica.RazaoSocial" class="control-label"> Razão Social</label>
                <input asp-for="PessoaJuridica.RazaoSocial" class="form-control" />
                <span asp-validation-for="PessoaJuridica.RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessoaJuridica.Cnpj" class="control-label">CNPJ</label>
                <input asp-for="PessoaJuridica.Cnpj" class="form-control" />
                <span asp-validation-for="PessoaJuridica.Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" role="button" asp-action="Create">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

